<nav>
    <div class="logo">
        <h4 class="logo-h4">Shibal's shop</h4>
    </div>
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/collection">Collection</a></li>
        <li class="basket-holder">
            <img routerLink="/webcart" class="basket" src="../../assets/icons/whitebasketnav.png" alt="">
            <!-- <h5>0</h5> -->
        </li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
</nav>
<!-- <section class="header-holder">
    <h1 class="header-h1">씨발의가게</h1>
</section> -->
