@import "../../utilities/variables";
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif  ;

}
a {
  color: black;
}

.home-page{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: url('../../assets/images/homepagebg.jpg');
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: center;
  gap: 10px;
  margin: 0 auto;
  height: 100%;
  width: 74%;

  .title{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 280px;

    h1{
      font-size: 30px;
    }
    h5{
      font-size: 20px;
    }
  }

  .slide-holder {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .slides {
      display: flex;
      //justify-content: center;
      padding-top: 10px;

      .slide > img {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
      }

    }


  }
}

button {
  background-color: transparent;
  border: 2px solid #ABA6A4;
  width: 200px;
  height: 50px;
  font-family: 'Raleway';
  color: black;
}

//.prev-holder, .next-holder{
//  display: flex;
//  align-items: center;
//  gap: 10px;
//}
//
//.prev-holder{
//  padding-right: 15px;
//}
//
//.next-holder{
//  padding-left: 15px;
//}
//.slide-controls {
//  width: 100%;
//  font-size: 30px;
//  position: absolute;
//  top: 50%;
//  left: 26%;
//  display: flex;
//  justify-content: space-evenly;
//
//  .text {
//    font-weight: bold;
//    font-size:20px;
//  }
//}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

img {
  width: 550px;
  height: 750px;
}
