<section class="home-page">
  <div class="imgs">
    <div class="overlay"></div>  
    <figure><img src="../assets/images/potentialhomepic.jpg" alt="Model"></figure>
    <figure><img src="../assets/images/secondModel.jpg" alt="Model"></figure>
    <figure><img src="../assets/images/thirdModel.jpg" alt="Model"></figure>
    <figure><img src="../assets/images/fourthModel.jpg" alt="Model"></figure> 
</div>
  <section class="title">
    <h1>Shibal<span>'shop</span></h1>
    <h5>씨발의가게</h5>
    <button (click)="toCollection()">Browse collection now!</button>
  </section>
</section>


  