@import "../../../utilities/variables";
$base-green: #7C9667;
$base-grey: #707070;

*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    .title-button-holder {
        display: flex;
        flex-direction: row;
        width: 1260px;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px ;
        > .title-image-holder {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 1260px;
    
            > h1 {
                font-size: 48px;
    
            }
    
            > h5 {
                font-size: 18px;
                padding-bottom: 50px;
                color: $main-black;
            }
        }

        button {
            background-color: transparent;
                    border: 2px solid #ABA6A4;
                    width: 200px;
                    height: 50px;
                    font-family: 'Raleway';
                    color: black;
        }
    }

    > .image-info-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1260px;
        gap: 300px;
        padding-top: 10px;
        padding-bottom: 100px;

        > img {
            width: 400px;
            height: 600px;
        }

        > .product-info {
            // padding-left: 200px;
            > h2 {
                font-family: 'Raleway Italic', sans-serif;
                font-size: 36px;
                padding-bottom: 20px;
                color: $product-details-grey;
            }

             > .size-holder {
                display: flex;
                flex-direction: row;
                padding-top: 40px;

                > h3 {
                    color: $product-details-grey;
                    font-size: 31px;
                }

                > .sizebutton-holder {
                    padding-left: 30px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    > .size-button {
                        padding: 10px 10px 10px 10px;
                        font-size: 18px;
                        border-radius: 100px;
                        background-color: white;
                        border: 3px solid $product-details-grey;
                        user-select: none;
                    }

                    > .size-button-clicked {
                        // padding: 10px 10px 10px 10px;
                        // font-size: 18px;
                        // border-radius: 100px;
                        // background-color: white;
                        outline: none;
                        background-color: $main-black;
                        color: white;
                        border-radius: 100px;
                        border: 3px solid $main-black;
                    }
                }
            }

            > .price-holder {
                display: flex;
                flex-direction: row;
                width: 300px;
                padding-top: 40px;
                padding-bottom: 40px;

                justify-content: space-between;

                > h3 {
                    color: $product-details-grey;
                    font-size: 31px;
                }

                > .price {
                    color: black;
                    font-weight: bold;
                }
                
                }
            

                .basket-button {
                    background-color: transparent;
                    border: 2px solid #ABA6A4;
                    width: 200px;
                    height: 50px;
                    font-family: 'Raleway';
                    color: black;
                }
        }
    }

    hr {
        border: 0;
        width: 1260px;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
}



