@import "../../../utilities/variables";
$base-green: #7C9667;
$base-grey: #707070;

*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.holder {
    display: flex;
    flex-direction: row;

    > .title-image-holder {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 80px;
        padding-left: 86px;

        > h1 {
            font-size: 48px;

        }

        > h5 {
            font-size: 18px;
            padding-bottom: 50px;
            color: $main-black;
        }
    }

    > .image-info-holder {
        display: flex;
        flex-direction: row;
        padding-top: 150px;

        > img {
            width: 400px;
            height: 600px;
        }

        > .product-info {
            position: relative;
            top:150px;
            padding-left: 200px;
            > h2 {
                font-family: 'Raleway Italic', sans-serif;
                font-size: 36px;
                padding-bottom: 20px;
                color: $product-details-grey;
            }

             > .size-holder {
                display: flex;
                flex-direction: row;
                padding-top: 40px;

                > h3 {
                    color: $product-details-grey;
                    font-size: 31px;
                }

                > .sizebutton-holder {
                    padding-left: 30px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    > .size-button {
                        padding: 10px 10px 10px 10px;
                        font-size: 18px;
                        border-radius: 100px;
                        background-color: white;
                        border: 3px solid $product-details-grey;
                        user-select: none;
                    }

                    > .size-button-clicked {
                        // padding: 10px 10px 10px 10px;
                        // font-size: 18px;
                        // border-radius: 100px;
                        // background-color: white;
                        outline: none;
                        background-color: $main-black;
                        color: white;
                        border-radius: 100px;
                        border: 3px solid $main-black;
                    }
                }
            }

            > .color-holder {
                display: flex;
                flex-direction: row;
                padding-top: 40px;
                padding-bottom: 40px;

                > h3 {
                    color: $product-details-grey;
                    font-size: 31px;
                }

                > .color-button-holder {
                    padding-left: 30px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    > .black-color-button, .white-color-button, .red-color-button, .blue-color-button{
                        padding: 10px 10px 10px 10px;
                        font-size: 18px;
                        border-radius: 100px;
                        user-select: none;
                    }

                    > .black-color-button {
                        background-color:black;
                        border: 3px solid $product-details-grey;
                        color: black;
                    }

                    > .white-color-button {
                        background-color: white;
                        border: 3px solid $product-details-grey;
                        color: white;
                    }
                    > .red-color-button {
                        background-color: red;
                        border: 3px solid $product-details-grey;
                        color: red;
                    }
                    > .blue-color-button {
                        background-color: blue;
                        border: 3px solid $product-details-grey;
                        color: blue;
                    }
                    > .color-button-clicked, .color-button-clicked{
                        outline: none;
                        border: 4px solid $main-black;
                    }
                }
            }

            .basket-button {
                font-family: 'Raleway Italic', sans-serif;
                color: $product-details-grey;
                background-color: white;
                font-size: 31px;
                padding: 10px 10px 10px 10px;
                border: 3px solid $main-black;
            }
        }
    }
}



