<section class="holder">

    <section class="title-image-holder">
        <h1>Product Details</h1>
        <h5>제품 세부 정보</h5>

    </section>

    <div class="image-info-holder">
        <img [src]="product?.imagePath" alt="{{ product?.name }}">
        <section class="product-info">
            <h2>{{ product?.brand }}</h2>
            <p>{{ product?.name }}</p>

            <section class="size-holder">
                <h3>Size</h3>
                <div id="button-holder" class="sizebutton-holder">
                    <button *ngFor="let size of product?.sizes" (click)="toggleSizeBtns(size)"
                            class="{{ size === whatSizeButtonClicked ? 'size-button size-button-clicked' : 'size-button' }}">
                      {{ size }}</button>
                </div>
            </section>

            <section class="price-holder">
                <h3>Price</h3>
                <h3 class="price">$ {{ product.price }}</h3>
            </section>

            <button [disabled]="whatSizeButtonClicked == null" (click)="sendToBasket()" class="basket-button">Add to basket</button>
        </section>
    </div>
</section>


