<div class="login-page-holder">
    <form class="loginForm" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="title-holder">
            <h1>SHIBAL'S SHOP</h1>    
        </div> 
        <div class="position-input-holder">
            <div class="username-input-holder">
                <label for="username">Username</label>
                <input placeholder="Type username here!" type="text" id="username" name="username" ngModel required username>
            </div>
            <div class="password-input-holder">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel required password>
            </div>
        </div>
        <div class="button-holder">
            <button (click)="navigateToRegister()" class="registerBtn">Register</button>
            <button class="loginBtn" type="submit" [disabled]="!loginForm.valid">Login</button>      
        </div>  
    </form>
</div>
